/* light is default mode, so pair with general html definition */
html, .light {
  background-color: #fdf6e3;
  color: #657b83; }
  html *, .light * {
    color: #657b83; }
  html h1, html h2, html h3, html h4, html h5, html h6, .light h1, .light h2, .light h3, .light h4, .light h5, .light h6 {
    color: #586e75;
    border-color: #657b83; }
  html a, html a:active, html a:visited, .light a, .light a:active, .light a:visited {
    color: #586e75; }

.dark {
  background-color: #002b36;
  color: #839496; }
  .dark * {
    color: #839496; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #93a1a1;
    border-color: #839496; }
  .dark a, .dark a:active, .dark a:visited {
    color: #93a1a1; }

html * {
  color-profile: sRGB;
  rendering-intent: auto; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px; }

#page {
  width: 40%;
  min-width: 26em;
  margin-left: 12em; }

textarea {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  padding: .5em;
  border-radius: .25em; }

.logo {
  position: fixed;
  width: 10em;
  left: 1em;
  top: 2em; }
